.comments-area {
	padding-top: 3rem;
	padding-bottom: 3rem;

	.comments-title {
		@extend .h4;
		margin-bottom: 2rem;
	}

	.comment-list,
	.comment-list .children {
		list-style: none;
		padding-left: 0;
	}

	.comment-list .children {
		border-left: 1px solid $gray-200;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.comment {
		padding: 1rem;
		border-top: 1px solid $gray-200;

		&:first-child {
			border-top: none;
		}
	}

	.comment-meta {
		margin-bottom: 1rem;
	}

	.comment-metadata {
		&, a {
			color: $gray-800;
			font-size: $font-size-sm;
		}
	}
}

.comment-respond {
	@extend .alert;
	padding-top: 2rem;
	background-color: $gray-100;

	.comment-reply-title {
		@extend .h4;
		margin-bottom: 2rem;
	}

	.logged-in-as {
		&, a {
			color: $gray-800;
		}
	}

	label {
		display: block;
	}

	.comment-form-comment textarea {
		width: 100%;
	}

	.form-submit {
		.submit {
			@extend .btn;
			@extend .btn-primary;
			margin-bottom: 0;
		}
	}

	.comment-notes {
		font-size: $font-size-sm;
	}
}
