// IE 10 & 11 flex width fix ... now with the flex options it seems like a universal fix.
@mixin fix-ie-grid-columns($columns: $grid-columns, $breakpoints: $grid-breakpoints) {

	@each $breakpoint in map-keys($breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			// Add max width
			@for $i from 1 through $columns {
				.col-#{$breakpoint}-#{$i} {
			    max-width: percentage($i / $columns);
			  }
			}
		}
	}

}

@if $enable-flex {
		@include fix-ie-grid-columns();
}

/* IE Fix */
 .FlexItem {
	box-sizing: border-box;
	max-width: 100%;
}
