// Fix the flexbox column not displaying correctly on mobile devices
@if $enable-flex {
  @include media-breakpoint-down(sm) {
    [class^='col-'] {
      width: 100%;
    }
  }
}

// Desaturate image
%desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(images/desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

%undesaturate {
  filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  -webkit-filter: none;
}

// Animate
@mixin animate($property: all, $time: 0.333s, $easing: ease-out, $delay: 0s) {
  -webkit-transition: $property $time $easing $delay;  /* Chrome, Safari 3.2+ */
     -moz-transition: $property $time $easing $delay;  /* Firefox 4-15 */
       -o-transition: $property $time $easing $delay;  /* Opera 10.50–12.00 */
          transition: $property $time $easing $delay;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

@mixin animate-property($property: all) {
  -webkit-transition-property: $property;  /* Chrome, Safari 3.2+ */
     -moz-transition-property: $property;  /* Firefox 4-15 */
       -o-transition-property: $property;  /* Opera 10.50–12.00 */
          transition-property: $property;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/

@mixin background-2x($path, $ext: "png", $w: auto, $h: auto, $pos: left top, $repeat: no-repeat) {

  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
  }
}
