// Fix the flexbox column not displaying correctly on mobile devices
@if $enable-flex {
  @include media-breakpoint-down(sm) {
    [class^='col-'] {
      width: 100%;
    }
  }
}

// Desaturate image
%desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(images/desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}

%undesaturate {
  filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  -webkit-filter: none;
}

// Animate
@mixin animate($property: all, $time: 0.333s, $easing: ease-out, $delay: 0s) {
  -webkit-transition: $property $time $easing $delay;  /* Chrome, Safari 3.2+ */
     -moz-transition: $property $time $easing $delay;  /* Firefox 4-15 */
       -o-transition: $property $time $easing $delay;  /* Opera 10.50–12.00 */
          transition: $property $time $easing $delay;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

@mixin animate-property($property: all) {
  -webkit-transition-property: $property;  /* Chrome, Safari 3.2+ */
     -moz-transition-property: $property;  /* Firefox 4-15 */
       -o-transition-property: $property;  /* Opera 10.50–12.00 */
          transition-property: $property;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

// Vertical Flex mixin
/* .flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .inner {
    flex-grow: 1;
  }

  .inner-bottom {
    flex-grow: 0;
  }
} */

// Vertical align using flexbox
/* .aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aligner-item {
  flex: 1;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.aligner--right {
  justify-content: flex-end;
}
 */