// Fullscreen mobile nav
.main-navigation .nav-menu-container {
	.navbar-nav {
		width: 100%;

		// Mobile menu
		@include media-breakpoint-down(sm) {
			align-items: center;
	    background: darken(rgba($brand-primary, .9), 10%);
	    bottom: 0;
	    display: flex;
	    flex-direction: column;
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 0!important;
	    z-index: $zindex-modal;
	    margin-left: 0!important;
	    margin-top: 0!important;
	    overflow-x: auto;

	   	.nav-item > .nav-link {
	   		font-size: 1.3rem;
	   		color: #fff;
	   	}

	   	.sub-menu {
	   		display: none!important;
	   	}
		}
	}
}
