// Wooooooooooo -----------------------------------------------------------------------------------
.woocommerce div.product p.price, .woocommerce div.product span.price {
	color: $brand-primary;
}

// buttons
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	@extend .btn;
}

.woocommerce {
	ins {
		text-decoration: none;
	}
}

// notifications
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info {
	border-top-color: $brand-primary;
}
.woocommerce .woocommerce-message::before,
.woocommerce .woocommerce-info::before {
	color: $brand-primary;
}

// Fix for WooCommerce columns
.col2-set {
  @include make-row();
  .col-1, .col-2 {
    @include make-col(12);
  }
}

.woocommerce-input-wrapper {
  display: block;
  width: 100%;
}
