.entry-content {
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > .gform_wrapper,
  > *[class^="wp-block-"] {
    @include container;
  }

  > .wp-block-embed {
    // Reset paddings
    padding-left: 0!important;
    padding-right: 0!important;
    @include container-margin;
  }

  > figure {
    @include container-margin;
  }
  
  .alignfull > * {
    @include container;
  }
}

.entry-header {
  @include container;
}
