// Fullscreen mobile nav
@media screen and (max-width: $nav-breakpoint) {
  .main-navigation #primary-menu {
    display: none;
  }
  .main-navigation.toggled #primary-menu {
    width: 100%;

    // Mobile menu
    align-items: center;
    background: darken(rgba($primary, 0.9), 10%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 999; 
    margin-left: 0 !important;
    margin-top: 0 !important;
    overflow-x: auto;

    .page_item > a,
    .menu-item > a {
      font-size: 1.3rem;
      color: #fff;
    }

    .sub-menu {
      display: none !important;
    }
  }
}
